<?xml version="1.0" ?>

<robot name="kobuki" xmlns:xacro="http://ros.org/wiki/xacro">


  <xacro:arg name="robot_namespace" default="/" />

  <!-- Include Parameters -->
  <xacro:include filename="$(find kobuki_pkg)/urdf/kobuki_parameters.urdf.xacro"/>
  
  <!-- ************************************************************************************************ -->
  <!-- ************************************************************************************************ -->
  <!-- Kobuki Model-->

  <link name="base_footprint"/>

  <joint name="base_joint" type="fixed">
    <origin xyz="0 0 0.0102" rpy="0 0 0" />
    <parent link="base_footprint"/>
    <child link="base_link" />
  </joint>

  
  <!-- Base Link -->
  <!-- ixx="0.019995" ixy="0.0" ixz="0.0" -->
    <!-- iyy="0.019995" iyz="0.0" izz="0.03675"	 -->
  <link_base_kobuki 
    name="base_link"
    visual_rpy="0 0 0" 
    visual_xyz="0.001 0 0.05199"
    inertial_rpy="0 0 0" 
    inertial_xyz="0.01 0 0"
    collision_rpy="0 0 0"
    collision_xyz="0.0 0 0.05949"
    cylinder_length="0.10938"
    cylinder_radius="0.178"
    meshfile="package://kobuki_pkg/meshes/main_body.dae"
    mass="2.4"
    ixx="0.021403" ixy="0.0" ixz="0.0"
    iyy="0.021403" iyz="0.0" izz="0.038020"	

 

  />  

  <!-- Left Traction Wheel -->

  <wheel_kobuki 
    name="wheel_left"

    joint_origin_xyz="0.00 ${0.23/2} 0.0250"
    joint_origin_rpy="${-M_PI/2} 0 0"
    joint_axis_xyz="0 0 1"

    visual_rpy="0 0 0" 
    visual_xyz="0 0 0"
    inertial_rpy="0 0 0" 
    inertial_xyz="0 0 0"
    collision_rpy="0 0 0"
    collision_xyz="0 0 0"
    cylinder_length="0.0206"
    cylinder_radius="0.035"
    meshfile="package://kobuki_pkg/meshes/wheel.dae"
    mass="0.01"
    ixx="0.000892" ixy="0.0" ixz="0.0"
    iyy="0.000892" iyz="0.0" izz="0.001584"	
  />  

  <!-- Right Traction Wheel -->

   <wheel_kobuki  
    name="wheel_right"

    joint_origin_xyz="0.00 -${0.23/2} 0.0250"
    joint_origin_rpy="${-M_PI/2} 0 0"
    joint_axis_xyz="0 0 1"

    visual_rpy="0 0 0" 
    visual_xyz="0 0 0"
    inertial_rpy="0 0 0" 
    inertial_xyz="0 0 0"
    collision_rpy="0 0 0"
    collision_xyz="0 0 0"
    cylinder_length="0.0206"
    cylinder_radius="0.035"
    meshfile="package://kobuki_pkg/meshes/wheel.dae"
    mass="0.01"
    ixx="0.001" ixy="0.0" ixz="0.0"
    iyy="0.001" iyz="0.0" izz="0.001"	
  />  

  <!-- Front Castor Wheel -->

  <castor_wheel_kobuki 
    name="caster_front"

    joint_origin_xyz="0.115 0.0 0.007"
    joint_origin_rpy="${-M_PI/2} 0 0"

    inertial_rpy="0 0 0" 
    inertial_xyz="0 0 0"
    collision_rpy="0 0 0"
    collision_xyz="0 0 0"
    cylinder_length="0.0176"
    cylinder_radius="0.017"
    mass="0.01"
    ixx="0.001" ixy="0.0" ixz="0.0"
    iyy="0.001" iyz="0.0" izz="0.001"	
  />  

  <!-- Back Castor Wheel -->

  <castor_wheel_kobuki 
    name="caster_back"

    joint_origin_xyz="-0.135 0.0 0.009"
    joint_origin_rpy="${-M_PI/2} 0 0"

    inertial_rpy="0 0 0" 
    inertial_xyz="0 0 0"
    collision_rpy="0 0 0"
    collision_xyz="0 0 0"
    cylinder_length="0.0176"
    cylinder_radius="0.017"
    mass="0.01"
    ixx="0.001" ixy="0.0" ixz="0.0"
    iyy="0.001" iyz="0.0" izz="0.001"	
  />  


  <!-- ******************************************************************************* -->
  <!-- ******************************************************************************* -->
  <!-- Gazebo Plugins -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>$(arg robot_namespace)</robotNamespace>
      <legacyModeNS>true</legacyModeNS>
    </plugin>
  </gazebo>

</robot>
